<div id="footer">
    <div class="container">
        <div class="row">

            <p class="text-center">Online Judge System of Xidian University.</p>
            <p class="text-center">Copyright © 2013 ACM/ICPC Team of Xidian University. All rights
            reserved.</p>
            <p class="text-center">Please <a href="mailto:acmxidian@gmail.com?Subject=Suggestion of the OnlineJudge">contact
                us</a> if you have any suggestion or problem.</p>
            </div>
    </div>
</div>
