{% extends "base.html" %}
{% block content %}
    {% include "login.html" %}
    <div class="box">
    <div class="jumbotron">
      <div class="container">
          <h2>Welcome to XDOJ!</h2>
        <p>lblblaba.</p>
        <p><a class="btn btn-primary btn-lg" href="#learnMore"role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Problem</h2>
          <p>Problem Set is the place where you can find large amount of problems from different
          programming contests.Online Judge System allows you to test your solution for every
          problem.
          </p>
          <p><a class="btn btn-default" href="#problem" role="button">Start &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Contest</h2>
          <p>Contest</p>
          <p><a class="btn btn-default" href="#contest" role="button">Start &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Status</h2>
          <p>Status</p>
          <p><a class="btn btn-default" href="#status" role="button">View &raquo;</a></p>
        </div>
      </div>
    </div>
{% end  %}
