<div id="login_modal" class="modal hide fade" role="dialog" aria-labelledby="login_modal" aria-hidden="true">
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">标题栏</h3>
    </div>
    <div class="modal-body">
            <p>显示信息</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <button class="btn btn-primary">保存设置</button>
    </div>
</div>

